.vs
build
database
dist
examples/database
examples/test*
test
whatsfly/whatsfly.egg-info
whatsfly.egg-info
.venv
venv
*.pyc
latest.so
latest.h
latest.dll
latest.dylib



__pycache__

whatsfly/last_binary_update.txt
whatsapp/wapp.db